<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Card PDF</title>
</head>

<body>
    <div class="card">
        <!-- Your card content here -->
        {# <img src="{{ cartes.image }}" alt="Image de la carte"> #}

        <img src='{{data.imageSrc}}' alt="{{ data.name }}">
        <p>{{ data.name }}</p>
        <p>{{ data.address }}</p>
        <!-- Include any other card-specific content -->
    </div>
</body>

</html>